/* config Home Page */
@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
@media (min-width: 900px) {
    #homepage {
    display: grid;
    background-color: whitesmoke;
    font-family: Georgia, Times, 'Times New Roman', serif;
    gap: 5px;
    
    
    grid-template:
    "a b b b b b c" auto
    "d e e f f g g" auto
    "d e e f f g g" auto
    "d e e f f g g" auto
    "h h i i j k l" auto /
    auto auto auto auto auto;
}
}
header{
background-color:aqua;
height: 100px;
display: flex;


}
#logo{
    grid-area: a;
    width: 150px;
    height: 150px;
    background-color: blue;
}
#navi{
    grid-area: b;
    background-color: aqua;
    align-content: space-between;
    
}
#next{
    grid-area: c;
    background-color: blueviolet;
}
#contain1{
    background-color: chocolate;
    grid-column: 1/6;
    grid-row: 1;
}
.sidenav{
    grid-area: d;
    background-color: aqua;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #4d19ad;
    display: block;
    align-items: stretch;
      }

.box1{
    grid-area: e;
    background-color: brown;
    display: flex;
}
.box2{
    grid-area: f;
    background-color: cadetblue;
    display: flex;
}
.box3{
    grid-area: g;

    background-color: chartreuse;
}
footer{
    background-color: aqua;
    display: grid;
}
.address{
    grid-area: h;
    height: 150px;
    width: 150px;

}
.social{
    grid-area: i;
    display: flex;
}
.email{
    grid-area: j;
}
.rights{
    grid-area: k;
}
.site{
    grid-area: l;
}